body {
    font-family: 'Helvetica Neue', 'Arial', sans-serif;
    font-weight: 400;
}

h1 {
    background-color: #000;
    color: #fff;
    margin: 0 -20px;
    padding: 20px;
}

tt.docutils.literal {
    display: inline-block;
    background-color: #ffff66;
    border: 1px solid #ffcc00;
    padding: 0 3px;
    border-radius: 3px;
}

body > .related {
    display: none;
}

body > .related:first-child {
    display: block;
    padding: 10px 20px;
    background-color: #ddd;
    width: auto;
    margin: 0 auto;
    color: #fff;
}

body > .related:first-child a {
    color: #333;
    text-decoration: none;
}

body > .related:first-child a:hover {
    color: #000;
}

div.body {
    padding: 0 20px 40px 20px;
    margin: 0 auto;
    background-color: #fff;
}

div.highlight > pre {
    padding: 10px 20px;
    border: 3px solid #ddd;
    background-color: #fff;
}

div.section img {
    max-width: 100%;
}

div.sphinxsidebar {
    float: none;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
}

div.footer {
    padding: 30px 20px;
    font-size: 14px;
    text-align: center;
    color: #999;
}