{% set is_shiroyuki_com = 'shiroyuki.com' in app.request.host or 'localhost' in app.request.host %}
<nav class="navi main navbar navbar-fixed-top">
    <div class="navbar-inner">
        {% if is_shiroyuki_com %}
            <a class="brand" href="/">Shiroyuki</a>
            <ul class="nav">
                <li{% if '/work/' in app.request.path %} class="active"{% endif %}><a href="/work/">Work</a></li>
                <li{% if '/journal' in app.request.path %} class="active"{% endif %}><a href="/journal">Journal</a></li>
            </ul>
        {% else %}
            <a class="brand" href="#">Supagarn School of Music</a>
        {% endif %}
    </div>
</nav>
<script src="/js/r13/bootstrap.js"></script>