{% extends 'r13/layout.html' %}
{% block title %}{{ 'Journal is being updated' if is_journal else 'Whoops!' }}{% endblock %}
{% block css %}
    {% if is_journal %}
        <meta http-equiv="refresh" content="5"/>
    {% endif %}
    <style type="text/css">
    article {
        overflow: hidden;
        font-size: 1.5em;
    }

    article h1 {
        font-weight: 400;
        font-size: 2.5em;
    }

    article p {
        color: #ccc;
    }

    article pre {
        overflow: auto;
        padding: 10px 20px;
        background-color: #eee;
        font-size: 0.7em;
        line-height: 1.5em;
    }
    </style>
{% endblock %}
{% block primary %}
<article class="container-fluid {{ 'journal-stdby' if is_journal else 'http-err' }} e{{ code }}" id="error">
    <div class="row-fluid">
        <div class="span12">
            {% if is_journal %}
                <h1>Journal is being updated...</h1>
                <p class="lead">This page will be updated automatically when the update is complete.</p>
            {% else %}
                <h1>{{ message }}</h1>
                <p class="lead">This is a HTTP-{{ code }} response.</p>
                {% if debug_info %}
                    <pre>{{ debug_info }}</pre>
                {% endif %}
            {% endif %}
        </div>
    </div>
</article>
{% endblock %}