{% extends 'r13/layout.html' %}

{% block title %}Juti Noppornpitak{% endblock %}

{% block css %}<link rel="stylesheet" type="text/css" href="/css/r13/page-home.css"/>{% endblock %}

{% block primary %}
    <article class="container-fluid">
        <div class="row-fluid">
            <div class="span6 feature">
                <img src="/image/feature-20140321.jpg"/>
            </div>
            <article class="span3 about-me">
                <div>
                    <h2>Juti Noppornpitak</h2>
                    <p class="lead">
                        A mathematician, software engineer, user experience designer and professional photographer
                        based in Toronto, Canada.
                    </p>
                    <p>
                        Currently, I work as a full-time senior PHP developer at
                        <a href="http://instaclick.com" target="_blank">InstaClick Inc.</a>
                        in Toronto, the main contributor of <a href="work/project-imagination">Imagination Framework</a>,
                        <a href="work/project-tori">Tori Framework</a> and a
                        time-to-time contributor to <a href="http://symfony.com">Symfony Framework</a>.
                    </p>
                    <p>
                        For more information, please follow me on Twitter or LinkedIn
                        from the links below.
                    </p>
                </div>
            </article>
            <article class="span3 more-about-me">
                <div>
                    <h3>Traveling Schedule</h3>
                    <table class="table">
                        <tbody>
                            <tr>
                                <th>When</th>
                                <th>Where</th>
                            </tr>
                            <tr>
                                <td>April 10-13</td>
                                <td>PyCon US, Montreal, QC</td>
                            </tr>
                            <tr>
                                <td>September</td>
                                <td>PyCon JP, Tokyo</td>
                            </tr>
                            <tr>
                                <td>October</td>
                                <td>Bangkok</td>
                            </tr>
                            <tr>
                                <td>Dec 29 - Jan 6</td>
                                <td>Bangkok</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </article>
        </div>
    </article>
{% endblock %}