<!doctype html>
<html>
<head>
    <!--
        Shiroyuki Studio / Revision 13

        2013.09.1 - Begin the 13th revision.
    -->
    <title>{% block title %}Untitled{% endblock %} - Shiroyuki Studio</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" /> 
    <link rel="stylesheet" type="text/css" href="/3p/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/3p/bootstrap/css/bootstrap-responsive.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/r13/theme.css"/>
    {% block css %}{% endblock %}
    <script src="/js/lib/jquery.js"></script>
    <script src="/js/lib/raphael.js"></script>
    <script src="/3p/bootstrap/js/bootstrap.min.js"></script>
    {% block js %}{% endblock %}
</head>
<body>
    {% include 'r13/common-nav.html' %}
    {% block primary %}{% endblock %}
    <footer>
        <span class="segment">&copy; 2008-2013 Juti Noppornpitak.</span>
        <span class="segment">Made with MacBook Air in Canada.</span>
    </footer>
    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-2625743-1']);
        _gaq.push(['_setDomainName', '.shiroyuki.com']);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>
</body>
</html>