{% extends 'layout.html' %}
{% block body %}
<div id="notes">
    <h1>すべてのノート</h1>
    <ul>
        {% for key, item in items.iteritems() %}
            <li><a href="{{ key }}">{{ item }}</a></li>
        {% endfor %}
    </ul>
</div>
{% endblock %}