<!doctype html>
<html>
<head>
    <title>ジュティのノート - Shiroyuki Studio</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" type="text/css" href="/resources/css/common.css"/>
    <link rel="stylesheet" type="text/css" href="/resources/css/note.css"/>
</head>
<body>
    <header>
        <div id="current-section">
            <a href="http://shiroyuki.com" title="Shiroyuki Studio"><img src="/resources/image/logo.png" alt="Shiroyuki Studio"/></a>
        </div>
        <div id="brand">ジュティのノート</div>
    </header>
    <section>
        <article>{% block body %}{% endblock %}</article>
    </section>
    <footer>
        <p>&copy; Juti Noppornpitak.</p>
        <p>
            The document here is not for distribution, redistribution, copy or modify without written
            consent from Juti Noppornpitak (jnopporn at shiroyuki.com).
        </p>
        <p>
            This website is made possible with <a href="http://python.org">Python 2.7</a>,
            <a href="https://github.com/shiroyuki/Tori">Tori</a>, <a href="http://jinja.pocoo.org">Jinja2</a>
            and <a href="https://github.com/facebook/Tornado">Tornado</a>.
        </p>
    </footer>
</body>
</html>
