footer {
    margin-top: 0;
}

body > section {
}

.nav.nav-pills {
    overflow: visible;
    padding: 0;
    margin: 0;
    text-align: center;
}

.nav.nav-pills li {
}

.nav.nav-pills li a {
    border-radius: 0;
    color: #333;
    margin: 0 0 0 5px;
    background-color: #fff;
    box-shadow: #ddd 0 5px 20px;
}

.nav.nav-pills li a:hover {
    color: #fff;
    background-color: #999;
}

.nav.nav-pills li.active a {
    color: #fff;
    background-color: #ff6600;
}

.tab-content article {
    padding: 0 50px 30px 50px;
    color: #454545;
}

.tab-content article .highlight {
    font-size: 20px;
}

.tab-content article .primary-photo {
    margin: 0 -50px 50px -50px;
}

.tab-content article h1 {
    text-transform: lowercase;
}

.tab-content article h1 span {
    color: #cc0000;
    display: inline-block;
    margin-left: -2px;
}

.tab-content article h2 {
    margin-top: 0;
    padding-top: 0;
    font-size: 1em;
    line-height: 1em;
    color: #333;
}

.tab-content article p {
    font-size: 1em;
    line-height: 1.5em;
    letter-spacing: 0.5px;
}

.tab-content article a {
    color: #215498;
    text-decoration: none;
    border-bottom: 1px dashed #215498;
}

.tab-content article a:hover {
    color: #cc0000;
    border-bottom-color: #cc0000;
}

.tab-content article .travel-destination {
    font-size: 12px;
}

.tab-content article .travel-destination th,
.tab-content article .travel-destination td {
    padding: 4px;
}

.tab-content #supplementary {
    padding: 0;
    margin: 0;
    list-style: none;
    overflow: hidden;
    font-weight: 200;
}

.tab-content #supplementary li {
    float: left;
    display: inline-block;
}

.tab-content #supplementary li:nth-child(6n + 1) {
    clear: left;
}

.tab-content #supplementary li img {
    vertical-align: middle;
}

.tab-content #supplementary li a {
    -o-transition: all ease 200ms;
    -ms-transition: all ease 200ms;
    -moz-transition: all ease 200ms;
    -webkit-transition: all ease 200ms;
    display: inline-block;
    letter-spacing: 1px;
    border-bottom: none;
    margin-right: 5px;
    margin-bottom: 5px;
    opacity: 0.5;
}

.tab-content #supplementary li:first-child a {
    margin-left: 0;
}

.tab-content #supplementary li:last-child a {
    color: #000;
    opacity: 1;
}

.tab-content #supplementary li a:hover {
    opacity: 1;
}

.tab-content #supplementary a[title="resume"] {
    border: 2px solid #ddd;
    padding: 5px;
    font-weight: 400;
    border-radius: 2px;
}

.tab-content #supplementary a[title="resume"]:hover {
    border-color: #ff9900;
    text-decoration: none;
}