/* @import url('../3p/roboto/stylesheet-consolidated.css'); */
@import url('http://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed&subset=latin,latin-ext');

body {
    font-family: 'Roboto', 'Helvetica Neue', 'Arial', sans-serif;
    font-weight: 200;
    margin: 0;
    padding: 0;
    background-image: url('/image/main-bg.jpg');
}

a {
    cursor: pointer;
}

h1 {
    font-family: 'Helvetica Neue', 'Arial', sans-serif;
    margin: 0;
    padding: 1em 0 1em 0;
    color: #000;
}

h2 {
    font-family: 'Helvetica Neue', 'Arial', sans-serif;
    margin: 0;
    padding: 1em 0 1em 0;
    color: #000;
}

h3, h4, h5, h6 {
    /*font-family: 'Helvetica Neue', 'Arial', sans-serif;*/
}

p {
    margin: 0;
    padding: 0 0 1em 0;
}

code {
    display: inline-block;
    border: 1px solid #ddd;
    background: #eee;
    border-radius: 3px;
    padding: 0 2px;
    margin: 0 1px;
}

article {
    color: #666;
}

header {
    width: 920px;
    padding-top: 20px;
    margin: 0 auto;
    text-align: right;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.8);
    border-bottom: 2px solid #666;
}

header #current-section {
    float: left;
    color: #000;
    padding: 10px 30px 10px 10px;
}

/***** Main Navigation *****/

header nav {
    display: inline-block;
}

header nav ul {
    display: inline-block;
    listing-style: none;
    margin: 0;
    padding: 0;
}

header nav ul li {
    display: inline-block;
}

/***** Main Navigation > Generic Anchor *****/

header nav ul li a {
    text-align: left;
    display: block;
    color: #999;
    width: 95px;
    padding: 10px;
    text-decoration: none;
    border-left: 1px solid #eee;
    font-size: 16px;
    font-weight: 200;
    letter-spacing: 1px;
}

header nav ul li a:before {
    font-size: 20px;
    color: #ccc;
    font-weight: 100;
}

header nav ul li a:hover {
    border-left-color: #99cc00;
    color: #000;
    text-decoration: none;
}

header nav ul li a:hover:before {
    color: #99cc00;
}

/***** Main Navigation > Custom Anchors *****/

header nav ul li a.about:before {
    content: '01 ';
}

header nav ul li a.blog:before {
    content: '02 ';
}

header nav ul li a.work:before {
    content: '03 ';
}

header nav ul li a.contact:before {
    content: '04 ';
}

/***** Main Navigation > Selected Anchor *****/

header nav ul li a.selected {
    color: #fff;
    border-left: 1px solid #99cc00;
    background-color: #99cc00;
}

header nav ul li a.selected:before {
    font-size: 20px;
    color: #000;
    font-weight: 100;
}

header nav ul li a.selected:hover {
}

/***** Footer *****/

footer {
    background-color: rgba(255, 255, 255, 0.8);
    width: 920px;
    margin: 0 auto;
    font-size: 12px;
    color: #666;
    border-top: 1px dashed #ddd;
    padding: 20px 0;
    text-align: center;
    letter-spacing: 1px;
}

body > section {
    background-color: rgba(255, 255, 255, 0.8);
    width: 920px;
    margin: 0 auto;
}

/***** Common classes *****/
.column-duo {
    column-count: 2;
    -moz-column-count: 2;
    -webkit-column-count: 2;
}

.os-sans {
    font-family: 'Gill Sans', 'Helvetica Neue', 'Arial', sans-serif;
}

.typekit-sans {
    font-family: 'ff-enzo-web-1', 'ff-enzo-web-2', 'Helvetica Neue', 'Arial', sans-serif;
}

.typekit-serif {
    font-family: 'museo-1', 'museo-2', 'Georgia', serif;
}

.btn {
    border-radius: 0;
}