@import url('../3p/foundation-icons-all/foundation-icons-general/stylesheets/foundation-icons-general.css');

.glyph { cursor: default; font-size: 16px; line-height: 1; }

.glyph.general {
    font-family: "FoundationIconsGeneral";
}

body > section > article {
    position: relative;
}

h1 {
    letter-spacing: -1px;
    font-size: 2em;
    margin: 0;
    padding: 30px 20px;
    text-transform: uppercase;
}

ol {
    position: absolute;
    top: 25px;
    right: 0px;
    list-style: none;
    padding: 0;
    margin: 0;
}

ol li {
    display: inline-block;
    margin-bottom: 2px;
}

ol li > * {
    display: block;
    padding: 5px 10px;
    color: #000;
    text-decoration: none;
}

p {
    margin: 0;
    padding: 0;
}

.location {
    display: block;
}

a.email:before {
    font-family: "FoundationIconsGeneral";
    content: 'h';
    margin-right: 10px;
}

a.tel:before,
tel:before {
    font-family: "FoundationIconsGeneral";
    content: 'r';
    padding-right: 10px;
}
