#catch-phrase {
    display: none;
    color: #666;
    font-size: 28px;
    font-weight: 100;
    letter-spacing: 1px;
    padding: 20px;
    border-bottom: 1px dashed #ddd;
}

.feature {
    padding-top: 60px;
    padding-bottom: 60px;
}

.feature h1 {
    text-transform: uppercase;
    font-size: 2em;
    letter-spacing: -1px;
    padding: 1em 0;
    margin: 0.5em 0;
    color: #000;
}

#f20130114-tori2 .span4 {
    text-align: right;
}

#f20130114-tori2 .span4 img {
    width: 250px;
}

#f20130114-tori2 .span8 {
}

#f20130114-tori2 .span8 h1 {
    color: black;
    font-size: 3em;
    margin-top: 0;
    padding: 0 0 0 30px;
}

#f20130114-tori2 .span8 p {
    padding-left: 30px;
    font-size: 1.3em;
}

#f20130114-tori2 .span8 h1 + p {
    font-size: 1.8em;
}

#f20130114-tori2 .span8 p:last-child {
    font-size: 14px;
    color: #999;
}