header {
}

header #brand {
    font-weight: bold;
    padding: 15px 10px;
}

body > section {
}

body > section article h1 {
    margin: -20px -20px 0 -20px;
    padding: 10px 20px;
    background-color: #000;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
}


body > section nav a {
    display: inline-block;
    font-size: 12px;
    text-decoration: none;
    padding: 5px 10px;
    background-color: #215498;
    color: #fff;
    border-radius: 5px;
}

body > section #notes {
    margin-bottom: -15px;
}

body > section #notes h1 {
    margin: 0;
}

body > section #notes ul {
    list-style: none;
    overflow: hidden;
    margin: 0;
    padding: 0px 0 0 5px;
}

body > section #notes ul li {
    float: left;
    display: block;
    margin: 5px 5px 0 0;
}

body > section #notes ul li a,
body > section #notes ul li a:active {
    display: block;
    width: 115px;
    height: 115px;
    padding: 10px;
    text-decoration: none;
    color: #000;
    text-transform: uppercase;
    background-color: #eee;
    vertical-align: bottom;
}

body > section #notes ul li a:hover {
    background-color: #ff9900;
    color: #fff;
}

body > section #note {
    padding: 20px;
}

body > section #note nav:first-child {
    float: right;
    margin-top: -15px;
    margin-right: -15px;
}