article {
    overflow: hidden;
}

article h1 {
    font-size: 2em;
    padding: 20px 20px;
    margin: 0;
    letter-spacing: -2px;
    border-top: 1px dashed #eee;
    border-bottom: 1px dashed #eee;
}

article h1 a {
    text-decoration: none;
    color: #000;
}

article h1 a:before {
    content: "⬅ ";
    color: #999;
}

article h1 a:hover {
    text-decoration: none;
}

article h1 a:hover:before {
    color: #669900;
}

article h1 + img {
    display: block;
    float: right;
    margin: 30px 30px 30px 10px;
}

article h2 {
    text-transform: uppercase;
    font-size: 3em;
    padding: 120px 20px 0 20px;
    margin: 0;
    letter-spacing: -1px;
}

article p {
    line-height: 1.25em;
    padding: 0 20px 1em 20px;
}

article h2 + p {
    text-transform: uppercase;
}

article ul {
    margin: 0;
    padding: 0 20px 1em 20px;
    color: #666;
    list-style: none;
}

article ul li {
    display: inline-block;
}

article ul li a {
    -webkit-transition: all ease 200ms;
    display: block;
    padding: 5px 10px;
    color: #333;
    text-decoration: none;
    border-radius: 5px;
    border: 3px solid transparent;
    white-space: nowrap;
    overflow: hidden;
}

article ul li a img {
    vertical-align: middle;
}

article ul li a:hover {
    text-decoration: none;
    border-color: #99cc00;
}

article ul li a:after {
    padding-left: 5px;
    content: attr(title);
}

article .warning {
    font-size: 0.8em;
    background-color: #ffeeee;
    padding: 10px 20px 10px 15px;
    margin-bottom: 30px;
    border-left: 5px solid #ffcccc;
}
