body > section {
    position: relative;
}

body > section article[id] a[href^="#p"] {
    float: right;
    font-size: 1.5em;
    padding: 7px 10px;
    text-align: right;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 200;
    background-color: #333;
    border: 1px solid #fff;
    margin-top: 25px;
    margin-right: -10px;
    color: #fff;
    background-clip: padding-box;
    border-radius: 5px;
}

body > section article[id] a[href^="#p"]:hover {
    color: #669900 !important;
}

body > section article[id] a[href^="#p"]:after {
    content: ' ⬅';
    color: #ff9900;
}

#portfolio {
}

#portfolio h1 {
    margin: 0;
    padding: 30px 20px;
    font-size: 2em;
    font-weight: bold;
    letter-spacing: -1px;
    border-top: 1px solid #eee;
    border-bottom: 1px dashed #eee;
}

#portfolio > h1 + p {
    padding: 20px;
}

#history {
    cursor: default;
}

#history.change-cursor {
    cursor: pointer;
}

.annual-portfolio {
    display: none;
    position: absolute;
    background-color: #333;
    color: #fff;
    width: 440px;
    padding: 10px 10px;
    font-size: 12px;
    box-shadow: rgba(0, 0, 0, 0.5) 0 10px 10px;
}

.annual-portfolio h2 {
    z-index: 1;
    position: absolute;
    top: 13px;
    right: 0px;
    font-size: 10px;
    font-weight: normal;
    text-transform: uppercase;
    padding: 5px;
    margin: 0 -5px 0 0;
    background-color: #669900;
    box-shadow: rgba(0, 0, 0, 0.2) 0 3px 3px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.annual-portfolio h3 {
    font-size: 16px;
    font-weight: normal;
    text-transform: uppercase;
    margin: 0;
    color: #cc0000;
}

.annual-portfolio .employer {
    font-size: 14px;
    font-weight: normal;
    text-transform: uppercase;
}

.annual-portfolio .duration {
    display: none;
}

.annual-portfolio .commands {
    margin: 20px 0 0px 0;
}

.annual-portfolio .commands a,
.annual-portfolio .commands a:link {
    display: inline-block;
    text-decoration: none;
    background-color: #666;
    color: #fff;
    padding: 5px 10px;
}

.annual-portfolio .image {
    overflow: hidden;
    height: 100px;
    margin: 10px -10px;
    text-align: center;
    background-color: #666;
}

.annual-portfolio .image img {
    margin: -50px 0 0 -25px;
    box-shadow: #333 0 0 20px;

    -o-transform:      rotate(10deg);
    -ms-transform:     rotate(10deg);
    -moz-transform:    rotate(10deg);
    -webkit-transform: rotate(10deg);
}

.pointer {
    position: absolute;
    display: none;
}

.pointer#data-pointer-r {
    margin-left: -15px;
}

#projects {
    border-top: 1px solid #666;
    background-color: #333;
    color: #fff;
}

#projects h1 {
    margin: 0;
    padding: 30px 20px;
    font-size: 2em;
    font-weight: bold;
    letter-spacing: -1px;
    border-bottom: 1px dashed #666;
    color: #fff;
}

#projects h2 {
    margin: 0;
    padding: 30px 20px;
    font-size: 2em;
    font-weight: 100;
    letter-spacing: 2px;
    text-transform: lowercase;
    color: #fff;
    border-top: 1px dashed #444;
}

#projects p {
    padding: 15px 20px;
    margin: 0;
    color: #ccc;
    line-height: 1.5em;
}

#projects h1 + p {
    font-size: 1.5em;
    font-weight: 200;
    letter-spacing: 1px;
}

#projects .active {
    padding: 0 20px;
    margin: 0;
    height: 250px;
    list-style: none;
    overflow: hidden;
}

#projects .active li {
    float: left;
    width: 285px;
    margin-left: 10px;
}

#projects .active li:first-child {
    margin-left: 0;
}

#projects .active li a, #projects .active li a:link {
    text-align: center;
    display: block;
    color: #999;
    text-decoration: none;
    max-width: 75%;
    margin: 0 auto;
    padding: 25px 0;
    letter-spacing: 1px;
    font-size: 24px;

    -moz-transition: all ease 100ms;
    -webkit-transition: all ease 100ms;
}

#projects .active li a img {
    display: inline-block;
    width: 150px;

    -moz-transition: all ease 100ms;
    -webkit-transition: all ease 100ms;
}

#projects .active li a span {
    display: block;
    margin: 10px auto 0 auto;
    opacity: 0.5;
}

#projects .active li a:hover {
    color: #ff9900;
}

#projects .active li a:hover span {
    opacity: 1;
}

#projects .collaboration {
    overflow: hidden;
    list-style: none;
    margin: 0;
    padding: 0 20px 20px 20px;
}

#projects .collaboration li {
    float: left;
    display: block;
    width: 280px;
    margin: 0 10px 0 0;
    padding: 0;
}

#projects .collaboration li a {
    font-size: 20px;
    display: block;
    padding: 40px 20px;
    background-color: #215498;
    color: #fff;
    text-decoration: none;
}

#projects .inactive {
    list-style: none;
    margin: 0;
    padding: 0 20px 20px 20px;
}

#projects .inactive li {
    margin: 0 10px 0 0;
    padding: 0;
}

#projects .inactive li a, #projects .inactive li a:link {
    display: inline-block;
    color: #ff6600;
    text-decoration: none;
    letter-spacing: 1px;
    padding: 5px 10px;
    background-color: #000;
    border-radius: 3px;
}

#projects .inactive li a:hover {
    background-color: #ff6600;
    color: #000;
}

section[data-mode="projects"] #portfolio {
    display: none;
}

section[data-mode="portfolio"] #projects {
    display: none;
}