<h2>Some work to highlight</h2>

<div class="row-fluid">
    <div class="span6"> 
        {% for project in portfolio.project_list %}
            <article class="work">
                <h3>{{ project.name }} <small>{{ project.employer }}</small></h3>
                {% if project.media_list %}
                    <p class="media">
                        {% set media = project.media_list[0] %}
                        {% if media.kind == "image" %}
                            <img width="100%" src="{{ media.content }}"/>
                        {% elif media.kind == "note" %}
                        {% endif %}
                    </p>
                {% endif %}
                <p class="tags">
                    {% for tag in project.tags %}
                        <span class="label">{{ tag.name }}</span>
                    {% endfor %}
                </p>
                <p class="more">
                    <a href="{{ project.url }}"><i class="icon-globe"></i></a>
                </p>
            </article>
            {% if portfolio.mid_point == loop.index %}
                </div>
                <div class="span6">
            {% endif %}
        {% endfor %}
    </div>
</div>