<h2>Open-source Projects</h2>
<div class="row-fluid">
{% for project_id in ['tori', 'imagination', 'kotoba']: %}
    {% set project = projects.get(project_id) %}
    <div class="span4 project">
        <a href="/work/project-{{ project.id }}">
            <img src="/image/logo-{{ project.id }}-full.png"/>
            <span>{{ project.name }}</span>
        </a>
    </div>
{% endfor %}
</div>