{% extends 'r13/layout.html' %}

{% block title %}Work{% endblock %}

{% block css %}<link rel="stylesheet" type="text/css" href="/css/r13/page-work.css"/>{% endblock %}

{% block primary %}
    <article class="container-fluid">
        <div class="row-fluid">
            <article class="span6 projects">
                {% include 'r13/work/_projects.html' %}
            </article>

            <article class="span3 speaking">
                <h2>Speaking</h2>
                <div>
                    <img src="http://farm8.staticflickr.com/7403/10764382295_de2371ce9a_z.jpg">
                </div>
                <dl>
                    <dt>Understanding Doctrine (Regular Talk)</dt>
                    <dd>
                        at True North PHP Conference (Microsoft Canada, Toronto) between November
                        <time datetime="2013-11-07">7</time>-<time datetime="2013-11-09">9</time>,
                        2013
                    </dd>
                    <dt>Unidirectional One-to-one Relationship in SQLAlchemy (30-minute Free-for-all Session)</dt>
                    <dd>
                        at PyCon JP 2012 (Tokyo, Japan) on <time datetime="2012-09-16">September 16, 2012</time>
                    </dd>
                </dl>
            </article>

            <article class="span3 services">
                <h2>Services</h2>
                <div>
                    <img src="http://farm8.staticflickr.com/7376/9163444254_8c0b92186f_z.jpg">
                </div>
                <dl>
                    <dt>Photography</dt>
                    <dd>
                        Services for school, non-profit or charity events only
                        in Toronto (Canada) and other parts of the world.
                    </dd>
                    <dt>Web Development Consultancy</dt>
                    <dd>
                        Services for software architecture (specially in web
                        development and Python development), information,
                        architecture and user experience design.
                    </dd>
                </dl>
            </article>
        </div>
    </article>
{% endblock %}