{% extends 'r13/layout.html' %}

{% block title %}Work{% endblock %}

{% block css %}<link rel="stylesheet" type="text/css" href="/css/r13/page-work-single-project.css"/>{% endblock %}

{% block primary %}
    <article class="container-fluid project">
        <div class="row-fluid">
            <div class="span12">
                <h2>{{ project.name }}</h2>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span2 logo">
                <img src="/image/logo-{{ project.id }}-full.png"/>
            </div>
            <div class="span6 description">
                <p>{{ project.description }}</p>
            </div>
            <div class="span4 options">
                {% if project.url_to_source_code %}
                    <a href="{{ project.url_to_source_code }}">
                        <img src="/image/g/glyphicons_269_keyboard_wired.png"/>
                        Source Code
                    </a>
                {% endif %}
                {% if project.url_to_documentation %}
                    <a href="{{ project.url_to_documentation }}">
                        <img src="/image/g/glyphicons_071_book.png"/>
                        Manual
                    </a>
                {% endif %}
                {% if project.url_to_documentation %}
                    <a href="{{ project.url_to_download }}">
                        <img src="/image/g/glyphicons_200_download.png"/>
                        Download
                    </a>
                {% endif %}
            </div>
        </div>
    </article>
{% endblock %}