@import url(http://fonts.googleapis.com/css?family=Merriweather:400,300,700,900);

body {
    font-family: 'Merriweather', 'Lucida Bright', serif;
}

.container {
    font-size: 16px;
    padding-top: 20px;
    padding-bottom: 20px;
    max-width: 740px;
}

header {
    font-family: 'Helvetica Neue';
    margin-bottom: 20px;
    position: relative;
    font-weight: 300;
    border-bottom: 1px dashed #ddd;
    padding-bottom: 10px;
}

header a {
    color: #000;
    text-decoration: none;
}

header nav {
    position: absolute;
    top: 0;
    right: 0;
}

header nav ul {
    list-style: none;
    margin: 0;
}

header nav ul li {
    display: inline-block;
}

header nav ul li a {
    margin-left: 10px;
    color: #333;
    letter-spacing: 1px;
}

header #brand {
    font-weight: 700;
}

nav.related h3 {
    display: none;
}

footer {
    margin: 30px 0 20px 0;
    font-size: 14px;
    text-align: center;
}

article {
    line-height: 1.5em;
}

article h1 {
    font-weight: 300;
}

article h2,
article h3,
article h4,
article h5 {
    font-weight: 100;
}

h1 + img,
h2 + img,
h3 + img {
    padding-bottom: 20px;
    display: block;
}

.related {
    margin: 0;
    padding: 0;
}

.related .breadcrumb {
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 0;
    color: #ddd;
    font-size: 12px;
    background: transparent;
}

.headerlink {
    display: none;
}

.docutils.field-list {
    margin-left: 20px;
    margin-bottom: 20px;
    font-size: 12px;
}

.rubric {
    border-top: 1px dashed #ddd;
    padding-top: 10px;
}

.docutils.field-list .field-name {
    text-align: right;
    padding-right: 10px;
    min-width: 80px;
}

.docutils.footnote.table {
    margin-bottom: 5px;
}

.docutils.footnote.table td {
    padding: 0;
}

.docutils.footnote.table .label {
    padding: 0;
    background: transparent;
    text-shadow: none;
    width: 32px;
}

.highlight {
    background: transparent !important;
}

.admonition {
    border: 2px solid #ddd;
    padding: 5px 10px;
    margin-bottom: 20px;
}

.admonition .admonition-title {
    margin: -5px -10px 10px -10px;
    background-color: #ddd;
    color: #fff;
    font-size: 14px;
    padding: 5px 10px;
}

.admonition.warning {
    border-color: #FF4444;
}

.admonition.warning .admonition-title {
    background-color: #FF4444;
}