dd {
  margin-left: 0;
  margin-bottom: 15px; }

.projects {
  margin-top: 20px;
  background-color: #fff;
  border: 1px solid #ddd; }
  .projects h2 {
    border-left: 5px solid #99CC00;
    padding-left: 15px; }

.project {
  text-align: center; }
  .project * {
    -webkit-transition: all ease 250ms; }
  .project a {
    padding: 60px 20px;
    display: block;
    font-size: 24px;
    color: black;
    text-decoration: none; }
    .project a span {
      display: block; }
    .project a img {
      width: 150px;
      margin-bottom: 20px; }

.services, .speaking {
  margin-top: 20px; }

@media (max-width: 1200px) {
  .project {
    float: none !important;
    width: auto !important;
    display: block;
    text-align: left;
    margin-left: 0 !important; }
    .project a {
      padding: 10px 20px; }
      .project a span {
        display: inline-block; }
      .project a img {
        width: 60px;
        margin-bottom: 0;
        margin-right: 15px; } }
