.description {
  padding-top: 30px;
  font-size: 24px;
  line-height: 30px; }
  .description code {
    font-size: 20px; }

.options {
  overflow: hidden; }
  .options a {
    float: left;
    clear: left;
    position: relative;
    padding: 10px 10px 10px 50px;
    margin-bottom: 10px;
    text-decoration: none;
    background-color: #fff;
    border: 2px solid #ddd;
    font-size: 20px; }
    .options a img {
      position: absolute;
      left: 10px;
      top: 7px; }
