.feature {
  margin-top: 20px; }

.about-me, .more-about-me {
  margin-top: 20px; }
  .about-me > div, .more-about-me > div {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 5px 20px; }

@media (max-width: 979px) {
  .feature, .about-me, .more-about-me {
    float: none !important;
    width: auto !important;
    display: block !important;
    margin-left: 0 !important; }
    .feature > div, .about-me > div, .more-about-me > div {
      background-color: #fff;
      padding: 5px 20px;
      margin: -5px -20px; }

  .feature {
    margin: 0 -20px 20px -20px !important; }
    .feature img {
      box-shadow: none; } }
/***** Special feature *****/
body {
  -webkit-transition: all ease 500ms; }

@media (min-width: 980px) {
  body {
    color: #fff;
    background-image: url("/image/feature-20140321.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-color: #000; }

  header {
    text-shadow: #666 0 0 5px; }

  .navi.main .navbar-inner {
    background-color: transparent; }
  .navi.main .brand {
    color: white; }
  .navi.main .nav > li {
    background-color: none; }
    .navi.main .nav > li > a {
      text-shadow: none;
      color: #999; }
    .navi.main .nav > li > a:hover {
      background-color: #FF8800;
      color: #fff; }
    .navi.main .nav > li.active > a {
      box-shadow: none; }

  .table th, .table td {
    border-top-color: #666 !important; }

  .feature img {
    display: none; } }
