@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic);
/**
 * Common Theme for Shiroyuki Studio - Revision 13.0
 *
 * @author Juti Noppornpitak <juti_n@yahoo.co.jp>
 */
body {
  font-family: 'Roboto', 'Helvetica Neue', 'Arial', sans-serif;
  font-weight: 300;
  margin: 0;
  padding: 0;
  background-image: url("/image/main-bg.jpg"); }
  body > article {
    margin-top: 40px;
    margin-bottom: 40px; }
  body .lead {
    font-weight: 300; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Helvetica Neue', 'Arial', sans-serif;
  font-weight: 200; }

.label {
  font-weight: 200; }

.navi.main .brand {
  margin-left: 0px;
  text-shadow: none; }
.navi.main .brand-logo {
  margin-top: -5px;
  margin-left: -15px;
  margin-right: 10px;
  background-color: #ffee00;
  vertical-align: top; }
.navi.main .navbar-inner {
  background-image: none;
  background-color: transparent;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: none; }
.navi.main .nav > li {
  background-color: none; }
  .navi.main .nav > li > a {
    text-shadow: none; }
  .navi.main .nav > li.active > a {
    box-shadow: none; }

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px 20px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.9); }
  footer > .segment {
    font-size: 11px;
    font-weight: 400;
    display: inline-block;
    white-spacing: nowrap;
    color: #666; }
  footer > .segment:first-child {
    font-weight: 200;
    font-size: 14px;
    color: #000; }
  footer a.segment {
    padding: 2px 9px;
    margin-left: 5px;
    background: none;
    border: 2px solid #ccc;
    text-decoration: none;
    text-transform: uppercase; }

@media (max-width: 979px) {
  .container, .container-fluid {
    padding: 20px; }

  .navbar-fixed-top, .navbar-fixed-bottom {
    position: fixed; }

  body > article {
    margin-bottom: 60px;
    margin-top: 30px; }

  footer > .segment:first-child {
    display: block;
    margin-bottom: 5px; } }
@media (max-width: 767px) {
  .navbar-fixed-top, .navbar-fixed-bottom {
    margin-left: 0;
    margin-right: 0; } }
@media (max-width: 640px) {
  body > article {
    margin-bottom: 30px;
    margin-top: 30px; }

  footer {
    position: static; }
    footer > .segment:first-child + .segment {
      display: block;
      margin-bottom: 5px; } }
