<div class="row-fluid">
    <div class="span4 headline-image"><img src="/image/logo-tori-full.png"/></div>
    <div class="span8">
        <h1 style="font-weight: 200; font-size: 48px; border-bottom: 1px solid #ddd; padding-bottom: 20px;">
            Tori Framework <span style="color: #ff6600">2.1<span/>
        </h1>

        <p>
            The little bird is now out in the wild!
        </p>

        <p>
            You can grab it from PyPi via <code>pip</code> or <code>easy_install
            </code> for Python 2.7 and 3.3.
        </p>

        <p>
            <a class="btn btn-info btn-large" href="/work/project-tori">Tori Project</a>
            <a class="btn btn-info btn-large" href="/journal/2013/0611-tori-2.1-public-release.html">Release Notes for 2.1</a>
        </p>

        <p>
            FYI, The name of the project, Tori (<ruby>鳥<rt>とり</rt></ruby>), is
            a Japanese word meaning "Bird". (^_^-)
        </p>
    </div>
</div>