.feature {
    margin-top: 20px;
}

.about-me, .more-about-me {
    margin-top: 20px;

    > div {
        background-color: rgba(0, 0, 0, 0.7);
        padding: 5px 20px;
    }
}

@media (max-width: 979px) {
    .feature, .about-me, .more-about-me {
        float: none !important;
        width: auto !important;
        display: block !important;
        margin-left: 0 !important;

        > div {
            background-color: #fff;
            padding: 5px 20px;
            margin: -5px -20px;
        }
    }

    .feature {
        margin: 0 -20px 20px -20px !important;

        img {
            box-shadow: none;
        }
    }
}

/***** Special feature *****/
body {
    -webkit-transition: all ease 500ms;
}

@media (min-width: 980px) {
    body {
        color: #fff;
        background-image: url('/image/feature-20140321.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center center;
        background-color: #000;
    }

    header {
        text-shadow: #666 0 0 5px;
    }

    .navi.main {
        .navbar-inner {
            background-color: transparent;
        }

        .brand {
            color: white;
        }

        .nav > li {
            background-color: none;

            > a {
                text-shadow: none;
                color: #999;
            }

            > a:hover {
                background-color: #FF8800;
                color: #fff;
            }

            &.active {
                > a {
                    box-shadow: none;
                }
            }
        }
    }

    .table {
        th, td {
            border-top-color: #666 !important;
        }
    }

    .feature {
        img {
            display: none;
        }
    }
}