body {
    font-family: "Georgia", "Lucida Grande", "Time New Roman", serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
}
a {
    cursor: pointer;
}
h1, h2 {
    font-weight: normal;
}
p.large-text {
    font-size: 16px;
}

dt {
    font-size:16px;
    color: #215498;
}

dd {
    margin-left: 10px;
    margin-bottom: 5px;
    color: #888;
    font-size: 10px;
}

tel {
    font-family: "Helvetica Neue", "Roboto", "Arial", sans-serif;
    font-weight: 200;
    display: inline-block;
    border-radius: 5px;
    padding: 2px 7px;
    background-color: #215498;
    color: #fff;
}

#meta {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    border-bottom: 1px solid #ccc;
}

#branding, #navigation, #sub-navi {
    width: 820px;
    margin: 0 auto;
}

#branding {
    height: 70px;
}

#branding h1 {
    padding: 10px 20px 10px 20px;
    margin: 0;
}
#navigation h2 {
    display: none;
}
#navigation ul {
    float: right;
    list-style: none;
    margin: -70px 0 0 0;
    padding: 0px 20px 0px 20px;
    overflow: hidden;
}
#navigation ul li {
    display: block;
    float: left;
}
#navigation ul li a {
    display: block;
    margin: 0 1px 5px 0;
    padding: 5px 8px 5px 8px;
    color: black;
    text-decoration: none;
    border-left: #ccc solid 1px;
    color: #888;
}
#navigation ul li a:hover {
    color: #000;
    border-left: #ff9900 solid 1px;
}
#navigation ul li a.ima {
    padding-top: 15px;
    color: #000;
    border-left: #ff9900 solid 1px;
}

#sub-navi ul {
    margin: 0;
    padding: 0 20px 5px 20px;
    list-style: none;
    overflow: hidden;
}

#sub-navi li {
    float: left;
}

#sub-navi li a {
    display: block;
    padding: 5px 30px 5px 10px;
    border-left: 1px solid #ccc;
    color: #666;
    cursor: pointer;
    text-decoration: none;
    font-family: 'Arial';
    font-size: 16px;
}

#content {
    border-bottom: 1px solid #ccc;
    padding: 100px 20px 0 20px;
}

#content h2 {
    cursor: pointer;
    margin: 0;
    padding: 0 0 0 10px;
    border-left: 10px solid #cc0000;
}

#content h3 {
    margin: 10px 0 10px 0;
    padding: 4px 0 0 0;
    border-top: 1px solid #ccc;
}

#content-inner {
    width: 780px;
    margin: 0 auto;
    overflow: hidden;
}

#content .section {
    margin-bottom: 60px;
}


#content #courses,
#content #acts-n-books,
#content #contact {
    border-top: 4px solid #eee;
    padding-top: 10px;
}

#content #courses.section .section-content {
    overflow: hidden;
}

#content #courses.section .section-content .left {
    float: left;
    width: 45%;
    margin-right: 5%;
}

#content #courses.section .section-content .right {
    float: left;
    width: 45%;
    margin-left: 5%;
}

#content #courses.section .section-content ul {
    margin: 0 0 20px 0;
    padding-left: 20px;
}

#content #courses.section .section-content ul li {
}

#content #acts-n-books.section .section-content ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#content #acts-n-books.section .section-content ul {
    padding: 0;
    margin: 0;
}

#content .section.left .section-inner {
    padding-right: 10px;
}

#content .section.right .section-inner {
    padding-left: 10px;
}

#supplimentary {
    width: 820px;
    margin: 0 auto;
    padding: 20px 0;
}

#supplimentary h2 {
    display: none;
}

#supplimentary p {
    font-size: 10px;
    padding: 5px 20px 5px 20px;
    margin: 0;
    color: #666;
}

#supplimentary #contact-info {
    font-size: 12px;
    color: #000;
    border-bottom: 1px solid #eee;
}
